<h2>Get</h2>
<h3>/sightings/</h3>
<h3>/sightings/{sightingId}</h3>
<h3>/sightings/distance/record-one/{sightingId}/record-two/{sightingId}</h3>
<h3>/sightings/tags/{anyTagName}</h3>

<hr />

<h2>Post</h2>
<h3>/sightings/create</h3>
<p>Payload Example:</p>
<pre>
<code>
  {
	"latitude":"43.490261",
	"longitude":"-112.069006",
	"time":"1:00am",
	"description":"Sasquatch must have traveled along way to get to Idaho Falls.",
	"tags": "Idaho,lake,long distance,caves"
  }
</code>
</pre>

<hr />

<h2>Put</h2>
<h3>/sightings/update/{sightingId}</h3>
<p>Payload Example:</p>
<pre>
<code>
{
	"latitude":"40.413590",
	"longitude":"-111.876959"
}
</code>
</pre>
<h3>or</h3>
<pre>
<code>
{
	"description":"some description update"
}
</code>
</pre>

<h3>/sightings/update/tags/{sightingId}</h3>
<p>Payload Example:</p>
<pre>
<code>
{
	"tags":"new tag"
}
</code>
</pre>
<h3>/sightings/delete/{sightingId}</h3>


<h3>/sightings/delete/tags/{sightingId}</h3>
<p>Payload Example:</p>
<pre>
<code>
{
	"tags":"the tag you want to delete"
}
</code>
</pre>